@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


#rouge { 
    background-color: rgb(255, 72, 0);
    height:150px ;
    }

#bleu { 
    background-color: rgb(0, 140, 255); }
    
#orange { 
    background-color: orange; }

#vert { 
    background-color: greenyellow;
    height:750px ; }
/* 
#testtt {
    width:200px;
    height:550px;
    border:1px solid ;
} */
